# Ignore compiled Python files
*.pyc

# Ignore the virtual environment directory (if you're using one)
env/

# Ignore any build artifacts or compiled files
build/
dist/

# Ignore any user-specific configuration files
*.ini

# Ignore any log files
*.log
.vscode/*
